
.container{
    width: 100%;
    height: 80vh;
    background: white;
    text-align: center;
}
h2{
    font-size: 2rem;
    font-weight: 600;
}
.col{
    color: orange;
}
img{
    object-fit: contain;
    height: 60%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: wheat;
    color: black;
    cursor: pointer;
    margin-top: 2%;
    
}
.cole{

    color: orange;
}
p{
    font-size: 1.2rem;
}
ul li{
    list-style: none;
   
}
ul li a{
    text-decoration: none; 
    color: black;
    transition: all 1s ease-in-out;

}
ul li a:hover{
    color: orange;
}
.sub{
    margin-top: 2%;
    background: black;
    text-align: center;
    color: white;
    padding: 20px;
}
.fa-facebook{
    color: #405DE6;
}
.fa-instagram{
    background: Linear-gradient(#515BD4,#8134AF,#DD2A7B,#FEDA77,#F58529) ;
    
}
.fa-instagram:focus{
    outline: none;
    background: none;
    border: none;
}
.fa-twitter{
    color: #405DE6;
}


@media screen and (max-width:320px) {
    body{
        display: block;
    }
    #myChart{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    p{
        text-align: center;
        font-size: 1rem;
    }
}
@media screen and (max-width:375px) {
    body{
        display: block;
    }
    #myChart{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    p{
        text-align: center;
        font-size: 1rem;
    }
}
@media screen and (max-width:425px) {
    body{
        display: block;
    }
    #myChart{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    p{
        text-align: center;
        font-size: 1rem;
    }
}